.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .errorMessage {
    color: #c94a4a;
    font-size: 13px;
    text-align: left;
  }
}
