.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row{
  display: flex;
  gap: 1rem;
  width: 100%;
  * {
    flex: 1;
  }
}

.submitArea {
  display: flex;
  justify-content: flex-end;
}
